

{
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "extends": "standard",
  "plugins": ["jest"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["error", "always"]
  }
}
