{
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "extends": ["standard", "prettier"],
  "plugins": ["flowtype", "jest"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["error", "always"],
    "flowtype/define-flow-type": 1
  }
}
