.food-app {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 120px;
  width: 600px;
  min-height: 400px;
  background-color: #fffaf0;
}

.food-app > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.food-app > footer {
  position: absolute;
  bottom: 0;
  padding: 30px 20px;
  width: 100%;
}

.veg-filter {
  margin-right: 5px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-item {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  text-align: left;
}

.menu-item-title {
  display: flex;
  gap: 5px;
}

.menu-item-description {
  color: #555;
  font-size: 14px;
  margin-top: 5px;
}

.menu-btn-add {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #cbd5e0;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 14px;
}

.menu-btn-group {
  display: flex;
  border: 1px solid #718096;
  border-radius: 4px;
}

.menu-btn-item {
  background-color: transparent;
  border: none;
  font-size: 14px;
}

.menu-item-qty {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  user-select: none;
}

.food-app-pay-btn {
  display: block;
  text-decoration: none;
  width: 100%;
  font-size: 20px;
  border: none;
  background-color: #ecc94b;
  color: #2d3748;
  padding: 20px 0;
  border-radius: 6px;
  font-weight: medium;
}

.icon-plus,
.icon-minus {
  display: block;
}
